html {
    font-size: 62.5%; 
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@400&display=swap');

body {
    background-color: #F9F4F0;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

.header {
    width: 100%;
    height: 12rem;
    background-color: #F9F4F0;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 134rem;
    height: 12rem;
    display: flex;
    align-items: center;
    position: relative;
}


.logo {
    width: 6.5rem;
    height: 12rem;
    background-image: url('photo/logo\ \(1\).jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
}


.menu {
    display: flex;
    gap: 3rem;
    position: absolute;
    left: 10rem;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 120%;
    font-weight: 400;
    white-space: nowrap;
}


.phone {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    position: absolute;
    right: 0;
}


.main-content {
    width: 100%;
    background-color: #F9F4F0;
    display: flex;
    justify-content: center;
    padding: 6rem 0;
}

.content-container {
    width: 134rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-block {
    width: 58.1rem;
    display: flex;
    flex-direction: column;
}

.text-block h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7rem;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 2rem 0;
    width: 100%;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    line-height: 140%;
    font-weight: 400;
    margin: 0 0 3rem 0;
    width: 48.1rem;
}


.buttons {
    display: flex;
    gap: 2rem;
}

.btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.8rem;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 8.2rem;
    border-radius: 1.5rem;

}


.btn-primary {
    background-color: #396448;
    color: #F9F4F0;
    width: 28.2rem;
    border: none;
}

.btn-secondary {
    background-color: transparent;
    color: #396448;
    width: 18.1rem;
    border: 0.2rem solid #396448;
}


.image-block {
    width: 65.4rem;
    height: 69rem;
    background-image: url('photo/IMG_20251017_210105.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2.5rem;
}

.about {
    max-width: 134rem;
    margin: 0 auto;
    padding: 6rem 2rem;
    background-color: #F9F4F0;
}

.about h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.8rem;
    text-align: center;
    margin-bottom: 4rem;
    text-transform: uppercase;
}


.about-content {
    display: flex;
    gap: 2rem;
    align-items: flex-end; 
}


.about-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.first-row {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    height: 26rem;
}

.main-image {
    width: 35rem;
    height: 26rem;
    background-image: url('photo/IMG_20251018_143018.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2.5rem;
    flex-shrink: 0;
}

.text-block-large {
    flex: 1;
    background-image: url('photo/Без\ названия1_20251018145246.png');
    background-size: cover;
    background-position: center;
    border-radius: 2.5rem;
    height: 26rem;
}


.second-row {
    display: flex;
    gap: 2rem;
    height: 14.8rem;
    align-items: flex-end; 
}


.text-block-medium, .text-block-small {
    background-color: #EFE9E3;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.text-block-medium {
    width: 42rem;
    height: 12rem; 
}

.text-block-medium p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    line-height: 140%;
    margin: 0;
    width: 33.6rem;
}

.text-block-small {
    width: 30rem;
    height: 12rem; 
}

.text-block-small p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    line-height: 140%;
    margin: 0;
    width: 22.6rem;
}


.small-image {
    width: 19rem;
    height: 14rem; 
    background-image: url('photo/IMG_20251018_145846.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2.5rem;
    flex-shrink: 0;
}

.side-image {
    width: 37rem;
    height: 42.8rem;
    background-image: url('photo/IMG_20251018_143418.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2.5rem;
    flex-shrink: 0;
}


.puppies-full-section {
    width: 100%;
    min-height: 85.9rem;
    background-color: #F9F4F0;
    position: relative;
}


.breeds-filter {
    width: 100%;
    background-color: #F9F4F0;
    display: flex;
    justify-content: center;
    padding: 17rem 0 0 0; 
}

.filter-buttons {
    display: flex;
    gap: 2.5rem;
    height: 7.4rem;
    align-items: center;
}

.filter-btn {
    height: 7.4rem;
    border-radius: 1rem 1rem 0 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: transparent;
    color: #396448;
    border: 0.1rem solid #396448;
    white-space: nowrap;
}

.filter-btn.active {
    background-color: #396448;
    color: #F9F4F0;
    border: none;
    border-radius: 1rem 1rem 0 0;
}

.filter-btn:nth-child(1) { width: 18.1rem; }
.filter-btn:nth-child(2) { width: 15rem; }
.filter-btn:nth-child(3) { width: 12rem; }
.filter-btn:nth-child(4) { width: 28rem; }


.puppies-section {
    width: 100%;
    height: 79.4rem;
    background-color: #396448;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; 
}

.puppies-container {
    text-align: center;
    max-width: 134.1rem;
    width: 100%;
}

.puppies-container h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.8rem;
    color: #F9F4F0;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.puppies-gallery {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 5rem;
    height: 37rem;
}

.puppy-item {
    flex: 1;
    height: 100%;
}

.puppy-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.7rem;
}

.show-all-btn {
    width: 30rem;
    height: 8.2rem;
    border-radius: 2rem;
    background-color: #F9F4F0;
    color: #396448;
    border: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.why-us {
    width: 100%;
    background-color: #F9F4F0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem 0;
    margin-top: 0;
}

.why-us-container {
    max-width: 134.1rem;
    width: 100%;
}

.why-us h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.6rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    margin-top: 10rem;
}

.why-us-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 71.7rem;
}

.advantages-grid {
    width: 80rem;
    height: 39rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 13rem;
}

.advantage-item {
    background-color: #EFE9E3;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 38.5rem;
    height: 16rem;
    position: relative;
    overflow: hidden;
}

.advantage-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.advantage-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}

.advantage-text h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    line-height: 1;
    white-space: nowrap;
}

.advantage-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 140%;
    margin: 0;
    color: #000;
}

.advantage-image {
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    flex-shrink: 0;
    position: absolute;
}

.img-1 {
    background-image: url('photo/Без\ названия5_20251113172814.png');
    width: 17rem;
    height: 17rem;
    top: 1rem;
    right: -4rem; 
}

.img-2 {
    background-image: url('photo/Без\ названия8_20251113173151.png');
    width: 16rem; 
    height: 16rem;
    top: 1rem;
    right: -1rem; 
}

.img-3 {
    background-image: url('photo/Без\ названия9_20251113173308.png');
    width: 16rem; 
    height: 16rem;
    top: -1rem; 
    right: -3.5rem; 
}

.img-4 {
    background-image: url('photo/Без\ названия10_20251113173419.png');
    width: 18rem; 
    height: 18rem;
    top: -2rem;
    right: -2rem;
}

.why-us-image {
    width: 65.6rem;
    height: 61.1rem;
    background-image: url('photo/photo_5237729505743408470_x.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2.5rem;
    position: absolute;
    right: 0;
    top: 5rem;
    z-index: 1;
}

.advantage-item:nth-child(2),
.advantage-item:nth-child(4) {
    z-index: 3;
    position: relative;
}


.breeds-choice-section {
    width: 100%;
    min-height: 117.5rem;
    background-color: #F9F4F0;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
}

.breeds-choice-filter {
    width: 100%;
    background-color: #F9F4F0;
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
}

.choice-filter-buttons {
    display: flex;
    gap: 2.5rem;
    height: 7.4rem;
    align-items: center;
    max-width: 134rem;
    margin: 0 auto;
}

.choice-filter-btn {
    height: 7.4rem;
    border-radius: 1rem 1rem 0 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: transparent;
    color: #AB8264;
    border: 0.1rem solid #AB8264;
    white-space: nowrap;
}

.choice-filter-btn.active {
    background-color: #AB8264;
    color: white;
    border: none;
}

.choice-filter-btn:nth-child(1) { width: 18.1rem; }
.choice-filter-btn:nth-child(2) { width: 15rem; }
.choice-filter-btn:nth-child(3) { width: 12rem; }
.choice-filter-btn:nth-child(4) { width: 28rem; }



.breeds-choice-content  {
    width: 100%;
    min-height: 111rem;
    background-color: #AB8264;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    box-sizing: border-box;
}


.breed-about-container {
    width: 134rem;
    min-height: 95rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.breed-about-container h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5.7rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 5rem;
    white-space: nowrap;
    text-align: center;
}

.breed-content {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    margin-bottom: 3rem;
    width: 100%;
    justify-content: center;
}

.breed-image {
    width: 65.3rem;
    height: 73.1rem;
    background-image: url('photo/IMG_20251114_145531.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 3rem;
    flex-shrink: 0;
}


.breed-info {
    width: 65.5rem;
    height: 73.1rem;
    position: relative;
    flex-shrink: 0;
}


.appearance-block {
    width: 65.5rem;
    height: 29rem;
    background: #EFE9E3;
    border-radius: 3rem;
    padding: 2rem 3rem 2.5rem 3rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.appearance-block h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.4rem;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0.5rem;
}

.appearance-text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    line-height: 140%;
    color: #000;
    margin: 0;
    margin-top: 1.5rem;
}



.character-block {
    width: 31.3rem;
    height: 19.4rem;
    background: #EFE9E3;
    border-radius: 3rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 31rem;
    left: 0;
    box-sizing: border-box;
}


.adaptability-block {
    width: 31.2rem;
    height: 18.7rem;
    background: #EFE9E3;
    border-radius: 3rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 31rem;
    right: 0;
    box-sizing: border-box;
}


.care-block {
    width: 31.3rem;
    height: 18.7rem;
    background: #EFE9E3;
    border-radius: 3rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52.4rem;
    left: 0;
    box-sizing: border-box;
}

.activity-block {
    width: 31.2rem;
    height: 18.7rem;
    background: #EFE9E3;
    border-radius: 3rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52.4rem;
    right: 0;
    box-sizing: border-box;
}


.small-block h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 1rem;
    white-space: nowrap;
}


.paws-rating {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0 1.5rem 0;
    width: 15rem;
    height: 2rem;
}

.paw-icon {
    width: 2.2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.green-paw {
    background-image: url('photo/Vector.jpg');
}

.gray-paw {
    background-image: url('photo/Vector\ \(1\).jpg');
}

.small-block p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 140%;
    color: #000;
    margin: 0;
}


.more-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.breed-more-link {
    width: 30rem;
    height: 8.2rem;
    background-color: #396448;
    color: #F9F4F0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-section {
    width: 100%;
    background-color: #F9F4F0;
    display: flex;
    justify-content: center;
    padding: 10rem 0 6rem 0;
}

.faq-container {
    width: 134.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.faq-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}


.faq-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    width: 65.5rem;
    margin-bottom: 4rem;
    line-height: 140%;
}


.faq-items {
    width: 133.9rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.faq-item {
    background-color: transparent;
    border-radius: 2rem; 
    padding: 3rem;
    border: 0.3rem solid #AB8264;
}


.faq-item.open {
    background-color: #EFE9E3;
    border: none; 
}


.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem; 
    font-weight: bold;
    margin: 0;
    width: 73.2rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    white-space: nowrap; 
}


.faq-button {
    width: 3.2rem;
    height: 3.2rem;
    background-color: #396448;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9F4F0;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}


.faq-cross {
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
}

.faq-cross::before,
.faq-cross::after {
    content: '';
    position: absolute;
    background-color: #F9F4F0;
    width: 100%;
    height: 0.2rem;
    top: 50%;
    left: 0;
}

.faq-cross::before {
    transform: rotate(45deg);
}

.faq-cross::after {
    transform: rotate(-45deg);
}


.faq-answer {
    margin-top: 2rem;
}

.faq-answer p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 140%;
    margin: 0;
    width: 84.3rem;
}